*{
    margin:0px;
    padding: 0px;
    color: rgb(11, 13, 14);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    position: relative;
}
.container{
    background-image: url(iitp_class.jpg);
    background-size: 100vw;
    width:100vw;
    height: 100vh;
    position:fixed;
}
.mainbox{
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.85);
    position: relative;
    top: 1vh;
    left: 10vw;
    padding-top: 20px;
    padding-left: 10px;
    padding-inline-end: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 70px;
    
}
button,input,textarea,select{
    padding: 10px;
}
.navbox1,.navbox2,.navbox3,.navbox4,.navbox5{
    display:flex;
    margin-top:20px;
    padding-bottom: 0px;
}
.box1,.box2,.box3{
    display:grid;
    grid-template-areas: "a b  c d";
    background-color: beige;
    padding: 10px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid black;
    color:brown;
}
.box4,.box5{
    background-color: beige;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 25px;
    border: 2px solid rgb(24, 22, 22);
}

table{
    table-layout: fixed;
    width: 75vw;
}

table input{
    padding: 2px;
    width: 9vw;
}

@media screen and (max-width:900px) {
    .box1,.box2,.box3,.box4,.box5{
        display: flex;
        flex-direction: column;      
    }
    
    .nav{
        justify-content: center;
        align-items: center;
    }
    table input,select{
        padding: 1px;
        width: 8vw;
    }

    th,td{
        word-wrap: break-word;
    }
   
   
}
table,td,th{
    padding: 6px;
    border: 2px solid black;
}



select,input,textarea,option{
    color: rgb(18, 31, 20);
}
.Thesis{
    display: grid;
   grid-template-areas: "a  b";
    padding: 10px;
    gap:15px;

}

button:hover{
    background-color:rgb(97, 247, 10); ;
}
button{
    width: 10vw;
    position:absolute;
    bottom: 10px;
    background-color:  rgb(228, 196, 37);
    border:2px solid rgb(72, 72, 71);
    border-radius: 15px;
}
#save&next{
    position:absolute;
    right: 10px;
}

.linkbox{
    display:grid;
    grid-template-areas: "a b";
    gap:60vw;
}



.nav{
    display:flex;
    align-items: center;
    justify-content: center;
    top: 5px;
    left: 10px;
    position:relative;
    gap:10px;
    color: white;

}